<h1>List of Gooddogs</h1>

<div>
<%= link_to "| Main |", family_owners_path %>
<%= link_to " Persons |", persons_path %>
<%= link_to " Dogs |", gooddogs_path %>
<%= link_to " New Owner |", new_owner_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th>Favorite Treat</th>
    </tr>
  </thead>
  <tbody>
    <% @gooddogs.each do |gooddog| %>
      <tr>
        <td><%= gooddog.name %></td>
        <td><%= gooddog.age %></td>
        <td><%= gooddog.breed.name %></td>
        <td><%= gooddog.favoritetreat %></td>
      </tr>
    <% end %>


  </tbody>

</table>
<%= will_paginate @gooddogs %>
