<h1>Shopping Cart</h1>
<% if @cart.present? %>
  <ul>
    <% @cart.each do |item| %>
      <li>
        <strong><%= item["name"] %></strong> - <%= item["breed"] %> - <%= item["dog_type"] %> <br>
        Price: $<%= item["price"] %> <br>
        <%= image_tag(item["photo_url"], alt: item["name"], width: 200, height: 200) if item["photo_url"].present? %>
        <br>Adoption Duration: <%= number_field_tag :adoption_years, 1, in: 1..10, min: 1, step: 1 %> year(s)</br>
        <%= button_to 'Remove from Cart', remove_from_cart_path(dog_id: item["dog_id"]), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
