<%= form_with model: @owner do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
     <% owner.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
        <% owner.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>