<h1>We are owners!</h1>
<div>
<%= link_to "| Main |", owners_path %>
<%= link_to " New Owner |", new_owner_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>
There are <%= Owner.public_count %> dog owners!
<ul>
  <% @owners.each do |owner| %>
      <% unless owner.archived? %>
    <li>
      <%= link_to owner.name, owner%>
    </li>
      <% end %>
  <% end %>
</ul>

<%= link_to "New Owner", new_owner_path %>