<h1><%= @owner.name %></h1>

<p><%= @owner.address %></p>

<ul>
  <li><%= link_to "Edit", edit_owner_path(@owner) %></li>
  <li><%= link_to "Destroy", owner_path(@owner), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<% @owner.dogs.each do |dog| %>
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= dog.breed %>
  </p>

  <p>
    <strong>Sub-Breed:</strong>
    <%= dog.subbreed %>
  </p>

  <img src="https://dog.ceo/api/breed/<%= dog.breed %>/images"/>
<% end %>


<h2>Add a dog:</h2>
<%= form_with model: [ @owner, @owner.dogs.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :breed %><br>
    <%= form.text_area :breed %>
  </p>
    <p>
    <%= form.label :sub_breed %><br>
    <%= form.text_area :subbreed %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>