<h1><%= @owner.name %></h1>

<p><%= @owner.address %></p>

<div>
<%= link_to "| Main |", family_owners_path %>
<%= link_to " Persons |", persons_path %>
<%= link_to " Dogs |", gooddogs_path %>
<%= link_to " New Owner |", new_owner_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>

<ul>
  <li><%= link_to "Edit", edit_owner_path(@owner) %></li>
  <li><%= link_to "Destroy", owner_path(@owner), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Dogs Owned</h2>
<%= render @owner.dogs %>

<h2>Add a dog:</h2>
<%= render 'dogs/form' %>