<% unless dog.archived? %>

<div>
<%= link_to "| Main |", family_owners_path %>
<%= link_to " Persons |", persons_path %>
<%= link_to " Dogs |", gooddogs_path %>
<%= link_to " New Owner |", new_owner_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>

<p>
  <strong>DogName:</strong>
  <%= dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= dog.breed %>
</p>

<p>
  <strong>Sub Breed:</strong>
  <%= dog.subbreed %>
</p>

  <p>
    <%= link_to "Remove Dog", [dog.owner, dog], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>