<%= form_with model: [ @owner, @owner.dogs.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :breed %><br>
    <%= form.text_area :breed %>
  </p>
    <p>
    <%= form.label :subbreed %><br>
    <%= form.text_area :subbreed %>
  </p>

<p>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
</p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
