<h1>Available Dogs for Adoption</h1>

<%= form_with(url: dogs_path, method: :get) do |form| %>
  <div>
    <%= form.label :keyword, 'Search by keyword:' %>
    <%= form.text_field :keyword, value: params[:keyword] %>
    <%= form.label :dog_type, 'Dog Type:' %>
    <%= form.select :dog_type, ['Guard', 'Service', 'Herding', 'Companion'], { include_blank: 'Any Type' }, value: params[:dog_type] %>
  </div>

<div>
  <%= form.label :dog_type, 'Filter by type:' %>
  <% ['Guard', 'Service', 'Herding', 'Companion'].each do |type| %>
  <%= button_tag type, type: 'submit', name: 'dog_type', value: type, class: 'dog-type-button' %>
  <% end %>
  <%= button_tag 'Any Type', type: 'submit', name: 'dog_type', value: '', class: 'dog-type-button' %>
</div>

  <div>
  <%= form.label :available_for_adoption, 'Available for Adoption:' %>
  <%= form.select :available_for_adoption, [['Yes', true], ['No', false]], prompt: 'Select Availability'%>
  </div>

  <%= form.label :filter_time_and_price , 'Time Period:' %>
  <%= form.select :filter_time_and_price , options_for_select(
      [
          ['All Time', 'all_time'],
          ['New Arrivals', 'new_arrivals'],
          ['Recently Updated', 'recently_updated'],
          ['Free Dogs', 'free_dogs']
      ],
      selected: params[:filter_time_and_price ]
  ) %>

  <%= form.submit "Search" %>
<% end %>

<% if @dogs.any? %>
  <ul>
    <% @dogs.each do |dog| %>
      <li>
        <%= link_to dog.name, dog_path(dog) %>
        <p><%= dog.breed %> - <%= dog.dog_type %></p>
        <p>Price: $<%= dog.price %>
        <p>Available for adoption: <%= dog.available_for_adoption ? 'Yes' : 'No' %></p>
        <%= image_tag(dog.photo_url, alt: dog.name) if dog.photo_url.present? %>
      </li>
    <% end %>
  </ul>

  <%= paginate @dogs %>
<% else %>
  <p>No dogs found matching your search criteria.</p>
<% end %>
