<!DOCTYPE html>
<html>
<head>
  <title><%= @dog.name %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="card">
      <% if @dog.photo_url.present? %>
        <img src="<%= @dog.photo_url %>" class="card-img-top" alt="<%= @dog.name %>" style="max-height: 400px; object-fit: cover;">
      <% end %>
      <div class="card-body">
        <h1 class="card-title"><%= @dog.name %></h1>
        <p class="card-text"><%= @dog.story %></p>
      </div>
    </div>
  </div>
</body>
</html>
