<h1>FamilyOwnersTeam</h1>

<div>
<%= link_to "| Main |", family_owners_path %>
<%= link_to " Persons |", persons_path %>
<%= link_to " Dogs |", gooddogs_path %>
<%= link_to " Dog master |", owners_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>

<table>
  <thead>
    <tr>
      <th>Surname</th>
      <th>Persons Count</th>
    </tr>
  </thead>
  <tbody>
    <% @family_owners.each do |family_owner| %>
      <tr>
        <td><%= link_to family_owner.surname + "Team", family_owner %></td>
        <td><%= family_owner.persons.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
