<section class="section">
  <div class="container">
    <h1 class="title">FamilyOwnersTeam Details</h1>

    <div class="tabs">
      <ul>
        <li><%= link_to "Main", family_owners_path %></li>
        <li><%= link_to "Persons", persons_path %></li>
        <li><%= link_to "Dogs", gooddogs_path %></li>
        <li><%= link_to "Dog master", owners_path %></li>
        <li><%= link_to "Dog Breeds", breeds_path %></li>
        <li><%= link_to "About", about_index_path %></li>
      </ul>
    </div>

    <h1 class="title"><%= @family_owner.surname %> Team</h1>

    <table class="table">
      <thead>
        <tr>
          <th><h2>Family members</h2></th>
        </tr>
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Address</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @family_owner.persons.each do |person| %>
          <tr>
            <td><%= link_to person.name, person %></td>
            <td><%= person.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th><h2>Dog members</h2></th>
        </tr>
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Breed</h3></th>
          <th><h3>Favorite treat</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @family_owner.gooddogs.each do |gooddog| %>
          <tr>
            <td><%= link_to gooddog.name, gooddog %></td>
            <td><%= gooddog.breed.name %></td>
            <td><%= gooddog.favoritetreat %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>