<h1>Breed list</h1>

<div>
<%= link_to "| Main |", owners_path %>
<%= link_to " New Owner |", new_owner_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>

There are <%= Breed.count %> dog breeds!


<ul>
  <% @breeds.each do |breed| %>
    <li>
      <%= link_to breed.name, breed%>
    </li>
  <% end %>
</ul>
