<%= form_for(user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :province %><br>
    <%= form.select :province_id, Province.all.collect { |p| [p.name, p.id] }, { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="actions">
    <%= form.submit user.new_record? ? 'Create' : 'Update' %>
  </div>
<% end %>
