<section class="section">
  <div class="container">
    <h1 class="title">List of Persons</h1>

    <div class="tabs">
      <ul>
        <li><%= link_to "Main", family_owners_path %></li>
        <li><%= link_to "Persons", persons_path, class: "is-active" %></li>
        <li><%= link_to "Dogs", gooddogs_path %></li>
        <li><%= link_to "Dog master", owners_path %></li>
        <li><%= link_to "Dog Breeds", breeds_path %></li>
        <li><%= link_to "About", about_index_path %></li>
      </ul>
    </div>

    <table class="table is-hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% @persons.each do |person| %>
          <tr>
            <td><%=link_to person.name,person %></td>
            <td><%= person.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%= will_paginate @persons %>
  </div>
</section>