<section class="section">
  <div class="container">
    <h1 class="title">Person Details</h1>

    <div class="tabs">
      <ul>
        <li><%= link_to "Main", family_owners_path %></li>
        <li><%= link_to "Persons", persons_path %></li>
        <li><%= link_to "Dogs", gooddogs_path %></li>
        <li><%= link_to "Dog master", owners_path %></li>
        <li><%= link_to "Dog Breeds", breeds_path %></li>
        <li><%= link_to "About", about_index_path %></li>
      </ul>
    </div>

    <table class="table">
      <tr>
        <td>
          <strong>Name:</strong>
          <%= @person.name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Address:</strong>
          <%= @person.address %>
        </td>
      </tr>
    </table>

    <!-- app/views/maps/show.html.erb -->
<div id="map" style="height: 400px;"></div>

<script>
  function initMap() {
    var latitude = <%= @latitude %>;
    var longitude = <%= @longitude %>;

    var mapOptions = {
      center: { lat: latitude, lng: longitude },
      zoom: 10 // Adjust the zoom level as needed
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
      position: { lat: latitude, lng: longitude },
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA56zK59tMsqLxoOM_29cr1qhPb1lEv3Oc&callback=initMap" async defer></script>


  </div>
</section>