<h1>About page</h1>
<div>
<%= link_to "| Main |", owners_path %>
<%= link_to " New Owner |", new_owner_path %>
<%= link_to "Dog Breeds |", breeds_path%>
<%= link_to "About |", about_index_path%>
</div>
<div>
This website utilizes information from a public api
https://dog.ceo/dog-api/documentation/breed that gives a list of breeds and sub-breed of dogs then
have dogs and person model to represent a individual dog and a person it also have an api to generate
a person utilitizing https://randomuser.me/
</div>
<div>
here is the ERD
</div>

<%= image_tag("dog_owner_erd.png", style: "width: 300px; height: 300px;") %>


